# Coursera Week 3 Submission Part-1

In [3]:
import numpy as np 
import pandas as pd 

!conda install -c conda-forge lxml --yes

Solving environment: done


==> WARNING: A newer version of conda exists. <==
  current version: 4.5.11
  latest version: 4.7.12

Please update conda by running

    $ conda update -n base -c defaults conda



## Package Plan ##

  environment location: /home/jupyterlab/conda/envs/python

  added / updated specs:
    - lxml


The following packages will be downloaded:

    package                    |            build
    ---------------------------|-----------------
    scikit-learn-0.20.1        |   py36h22eb022_0         5.7 MB
    liblapack-3.8.0            |      11_openblas          10 KB  conda-forge
    scipy-1.3.2                |   py36h921218d_0        18.0 MB  conda-forge
    libopenblas-0.3.6          |       h5a2b251_2         7.7 MB
    liblapacke-3.8.0           |      11_openblas          10 KB  conda-forge
    numpy-1.17.3               |   py36h95a1406_0         5.2 MB  conda-forge
    libcblas-3.8.0             |      11_openblas          10 KB  conda-forge
    lxml-4.4.1                 |   py36h7ec2d77_0         1.6 MB  conda-forge
    libblas-3.8.0              |      11_openblas          10 KB  conda-forge
    blas-2.11                  |         openblas          10 KB  conda-forge
    ------------------------------------------------------------
                                           Total:        38.3 MB

The following NEW packages will be INSTALLED:

    libblas:      3.8.0-11_openblas                      conda-forge
    libcblas:     3.8.0-11_openblas                      conda-forge
    liblapack:    3.8.0-11_openblas                      conda-forge
    liblapacke:   3.8.0-11_openblas                      conda-forge
    libopenblas:  0.3.6-h5a2b251_2

The following packages will be UPDATED:

    blas:         1.1-openblas                           conda-forge --> 2.11-openblas         conda-forge
    lxml:         4.2.5-py37hefd8a0e_0                               --> 4.4.1-py36h7ec2d77_0  conda-forge
    numpy:        1.16.2-py36_blas_openblash1522bff_0    conda-forge [blas_openblas] --> 1.17.3-py36h95a1406_0 conda-forge
    scipy:        1.2.1-py36_blas_openblash1522bff_0     conda-forge [blas_openblas] --> 1.3.2-py36h921218d_0  conda-forge

The following packages will be DOWNGRADED:

    scikit-learn: 0.20.1-py36_blas_openblashebff5e3_1200 conda-forge [blas_openblas] --> 0.20.1-py36h22eb022_0


Downloading and Extracting Packages
scikit-learn-0.20.1  | 5.7 MB    | ##################################### | 100%
liblapack-3.8.0      | 10 KB     | ##################################### | 100%
scipy-1.3.2          | 18.0 MB   | ##################################### | 100%
libopenblas-0.3.6    | 7.7 MB    | ##################################### | 100%
liblapacke-3.8.0     | 10 KB     | ##################################### | 100%
numpy-1.17.3         | 5.2 MB    | ##################################### | 100%
libcblas-3.8.0       | 10 KB     | ##################################### | 100%
lxml-4.4.1           | 1.6 MB    | ##################################### | 100%
libblas-3.8.0        | 10 KB     | ##################################### | 100%
blas-2.11            | 10 KB     | ##################################### | 100%
Preparing transaction: done
Verifying transaction: done
Executing transaction: done

#### 1- Use pandas to transform the data in the table on the Wikipedia page into a dataframe.

In [44]:
df = pd.read_html('https://en.wikipedia.org/wiki/List_of_postal_codes_of_Canada:_M')[0]

In [45]:
df.head()

  Postcode           Borough     Neighbourhood
0      M1A      Not assigned      Not assigned
1      M2A      Not assigned      Not assigned
2      M3A        North York         Parkwoods
3      M4A        North York  Victoria Village
4      M5A  Downtown Toronto      Harbourfront

#### 2- Only process the cells that have an assigned borough, we can ignore cells with 'Not assigned' boroughs, like in rows 1 & 2.

In [46]:
df.drop(df[df['Borough']=="Not assigned"].index,axis=0, inplace=True)

#### 4- More than one neighborhood can exist in one postal code area, M5A is listed twice and has two neighborhoods Harbourfront and Regent Park. These two rows will be combined into one row with the neighborhoods separated with a comma. We will use groupby for this.

In [63]:
df["Neighbourhood"] = df.groupby("Postcode")["Neighbourhood"].transform(lambda neigh: ', '.join(neigh))

In [65]:
df.head()

  Postcode           Borough                     Neighbourhood
2      M3A        North York                         Parkwoods
3      M4A        North York                  Victoria Village
4      M5A  Downtown Toronto                      Harbourfront
5      M6A        North York  Lawrence Heights, Lawrence Manor
6      M6A        North York  Lawrence Heights, Lawrence Manor

#### 3- Now we can remove the duplicate boroughs as follows:

In [66]:
df = df.drop_duplicates()
df.head()

  Postcode           Borough                     Neighbourhood
2      M3A        North York                         Parkwoods
3      M4A        North York                  Victoria Village
4      M5A  Downtown Toronto                      Harbourfront
5      M6A        North York  Lawrence Heights, Lawrence Manor
7      M7A      Queen's Park                      Queen's Park

#### 5- If a cell has a borough but a Not assigned neighborhood, then the neighborhood will be the same as the borough. So for the 9th cell in the table on the Wikipedia page, the value of the Borough and the Neighborhood columns will be Queen's Park.

In [67]:
df['Neighbourhood'].replace("Not assigned", df["Borough"],inplace=True)
df.head()

  Postcode           Borough                     Neighbourhood
2      M3A        North York                         Parkwoods
3      M4A        North York                  Victoria Village
4      M5A  Downtown Toronto                      Harbourfront
5      M6A        North York  Lawrence Heights, Lawrence Manor
7      M7A      Queen's Park                      Queen's Park

#### 6- Use the .shape method to print the number of rows of your dataframe.

In [69]:
df.shape

(103, 3)